body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0em;
    margin: 0.25em;
}

    .task > button {
        height: 2em;
    }

    .task > input {
        flex-grow: 3;
        height: 2em;
        background-color: hsla(0, 93%, 85%, 1);
        border: none;
        padding: 0.25em;
        margin: 0.25em;
    }

        .task > input:focus {
            background-color: white;
        }

.strike {
    text-decoration: line-through;
}

#new-task, #all-tasks {
    min-width: 500px;
    background-color: hsla(156, 49%, 83%, 1);
    margin: 1em;
    padding: 0.5em;
    border: 3px solid black;
}

#new-task {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 2em;
}

#task-input {
    flex-grow: 3;
}

#task-list {
    background-color: white;
}
