header {
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

button {
    height: 2em;
    margin: 0.25em;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0em 0em;
    margin: 0.5em;
    background-color: hsla(156, 49%, 83%, 1);
    border-color: hsla(156, 10%, 90%, 1);
    border: 2px solid hsla(156, 30%, 40%, 1);
}

    .task > label {
        margin: 0.25em 0.5em 0.25em 0.25em;
    }

    .task > input {
        flex-grow: 3;
        height: 2em;
        background-color: hsla(156, 14%, 90%, 1);
        border: 5px ridge hsla(156, 14%, 80%, 1);
        padding: 0.5em;
        margin: 0.25em;
    }

    .task > .done-checkbox {
        flex-grow: 0;
        margin: 0em 0em 0em 0.5em;
        height: 1.5em;
        border: none;
    }

        .task > input:focus {
            background-color: white;
        }

.strike {
    text-decoration: line-through;
}

.dragging {
    background-color: hsla(54, 93%, 80%, 1);
}

.hovering {
    background-color: hsla(54, 93%, 95%, 1);
}

#container {
    font-family: 'Muli', sans-serif;
}

#new-task, #all-tasks {
    min-width: 500px;
    background-color: hsla(156, 49%, 83%, 1);
    margin: 1em;
    padding: 0.5em;
    border: 3px solid black;
}

#new-task {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 2em;
}

#task-input {
    flex-grow: 3;
}

#task-container {
    background-color: white;
    padding: 0.25em;
    min-height: 3em;
}
